.offices {
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media all and (max-width: 991px) {
    margin-top: 0;
  }

  &__item {
    width: 49.7%;

    @media all and (max-width: 991px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.office {
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--plant {
    background-color: rgb(79, 119, 64);
  }

  &--desk {
    background-color: rgb(29, 37, 80);
  }

  .fas {
    font-size: 50px;
  }

  &__title {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 40px;
    text-align: center;

    @media all and (max-width: 991px) {
      font-size: 30px;
    }
  }
}