.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__item {
    width: 33%;
    @media all and (max-width: 991px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.stat {
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--weather {
    background-color: rgb(150, 3, 3);
  }

  &--visitors {
    background-color: rgb(101, 134, 9);
  }

  &--drinks {
    background-color: rgb(9, 78, 134);
  }

  &__title {
    margin: 0;
    font-weight: 300;
    font-size: 35px;
  }

  .fas {
    font-size: 40px;
  }
}